<div class="alert alert-info alert-dismissible fade show text-center shadow-sm" role="alert">
    <strong><i class="bi bi-person-raised-hand"></i> You are in the Admin Area <i class="bi bi-person-arms-up"></i></strong>
</div>
